<div class="model-viewer-container">
    <ngt-canvas id="mesh-canvas" (created)="getCreated($event)">
        <!--light defination-->
        <ngt-ambient-light intensity="0.5"></ngt-ambient-light>
        <ngt-spot-light [position]="10" angle="0.15" penumbra="1"></ngt-spot-light>
        <ngt-point-light [position]="-10"></ngt-point-light>
        <!--mesh viewer-->
        <app-mesh *ngIf="mesh_ready | async"></app-mesh>
        <!--taking control of the camera-->
        <ngt-soba-orbit-controls [maxDistance]="1" (change)="get_camera($event)"></ngt-soba-orbit-controls>
    </ngt-canvas>
</div>