@use "sass:map";
@use "@angular/material" as mat;

.model-viewer-container {
    // display: flex;
    // flex-direction: column;
    // text-align: center;
    // height: 100%;
    // width: 100%;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border: #9e9e9e solid 2px;
}
