@use "sass:map";
@use "@angular/material" as mat;

.sketch-pad-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #ffffff;
    border: #9e9e9e solid 2px;
}
