@use "sass:map";
@use "@angular/material" as mat;

.interface-header h1 {
    font-size: 2.5em;
    text-align: center;
    padding-top: 0.2em;
    // background-color: #477d92;
}

.interface-header h2 {
    font-size: 1.5em;
    text-align: center;
    padding-top: 0.2em;
    color: darkgrey;
    // background-color: #477d92;
}

.interface-container {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 90%;

    mat-grid-tile {
        padding-top: 0;
        height: 50%;
        overflow: visible;
        .workspace-card {
            .button-row {
                margin: 8px 0px 8px 8px;
                .flex-container {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .button-container {
                        display: flex;
                        justify-content: center;
                        // width: 12px;
                    }
                }
            }

            mat-card-content {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }
}
