<div class="interface-header">
    <h1>Sketch2Mesh User Interface</h1>
    <h2>Proposed user interface for real-time 3D model generation and editing from hand-drawing sketch.</h2>
</div>
<div class="interface-container">
    <mat-grid-list cols="7" rowHeight="1:2">
        <mat-grid-tile [colspan]="3" >
            <mat-card class="sketch-pad-card" fxLayout="column" fxFlexFill>
                <mat-card-header fxFlex="10">
                    <mat-card-title>Sketch Pad</mat-card-title>
                    <mat-card-subtitle>
                        <span>You can draw your sketch here.</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxFlex="90">
                    <app-sketch-pad></app-sketch-pad>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" rowHeight="1:2">
            <mat-card class="process-res-card" fxLayout="column" fxFlexFill>
                <mat-card-content fxFlex="100">
                    <app-generation-process></app-generation-process>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile><mat-grid-tile [colspan]="3">
            <mat-card class="sketch-pad-card" fxLayout="column" fxFlexFill>
                <mat-card-header fxFlex="10">
                    <mat-card-title>Model Viewer</mat-card-title>
                    <mat-card-subtitle>
                        <span>The generated model will be shown here.</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxFlex="90">
                    <app-model-viewer></app-model-viewer>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>